swagger: "2.0"
info:
  version: 1.0.0
  title: MyStay User API
  description: |
    User management api (registration, check-in, rating, profiles, tracking)
    TODO: secure this api with OAuth 2.0
  contact:
    name: Denis Fiser
    email: denis.fiser@mystay.cz
    url: http://mystay.cz
host: myadmin.mystay.cz
basePath: /api/user/v1
schemes:
  - https
produces:
  - application/json
paths:
  /register/pin:
    post:
      consumes:
      - '*/*'
      description: link mobile device with user profile using single-use pin code, the profile has to be already present on backend
      parameters:
        - name: pin
          in: formData
          type: string
          description: PIN code from SMS or Email
        - name: deviceId
          in: formData
          type: string
          description: Device id
      responses:
        200:
          description: registration success
          schema:
            $ref: '#/definitions/RegisterStatus'
          examples: {
            "application/json": "{\n \"code\": 1,\n  \"message\": \"Registration OK\", \"clientId\": 589503 \n}"
          }
        400:
          description: User profile not found
          schema:
            $ref: '#/definitions/Status'
          examples: {
            "application/json": "{\n \"code\": 3,\n  \"message\": \"User not found\" \n}"
          }
  /register/phone:
    post:
      description: link mobile device with user profile using phone number, the profile has to be already present on backend
      parameters:
        - name: phone
          in: formData
          type: string
          description: Mobile phone number
        - name: deviceId
          in: formData
          type: string
          description: Device id
      responses:
        200:
          description: registration result
          schema:
            $ref: '#/definitions/RegisterStatus'
          examples: {
            "application/json": "{\n \"code\": 1,\n  \"message\": \"Registration OK\", \"clientId\": 123456 \n}"
          }
        400:
          description: error
          schema:
            $ref: '#/definitions/Status'
          examples: {
            "application/json": "{\n \"code\": 2,\n  \"message\": \"Invalid phone number\" \n}"
          }
  /bookings:
    get:
      description: Get all active bookings for current user
      operationId: getBookings
      parameters:
        - name: clientId
          in: query
          type: integer
          format: int64
          description: user id from registration
          required: true
      responses:
        200:
          description: bookings list
          schema:
            $ref: '#/definitions/Bookings'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Status'
  /stages:
    get:
      description: Get possible guest stage values (checked in, traveling to hotel etc.)
      operationId: getStages
      responses:
        200:
          description: stage list response
          schema:
            $ref: '#/definitions/Stages'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Status'
  /profile:
    get:
      description: Load user profile
      operationId: getProfile
      responses:
        200:
          description: profile response
          schema:
            $ref: '#/definitions/UserProfile'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Status'
  /track:
    post:
      description: Store tracking data
      operationId: track
      parameters:
        - name: data
          in: body
          description: Data value to store
          required: true
          schema:
            $ref: '#/definitions/NewData'
      responses:
        200:
          description: info response
          schema:
            $ref: '#/definitions/Status'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Status'
  /trackb:
    post:
      description: Store tracking data (bulk)
      operationId: trackBulk
      parameters:
        - name: data
          in: body
          description: Data value to store
          required: true
          schema:
            $ref: '#/definitions/BulkData'
      responses:
        200:
          description: info response
          schema:
            $ref: '#/definitions/Status'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Status'
  /checkin:
    post:
      description: Submit new check-in
      operationId: addCheckin
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/NewCheckin'
      responses:
        200:
          description: checkin response
          schema:
            $ref: '#/definitions/Status'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Status'
  /rating:
    post:
      description: Save rating screen result
      operationId: saveRating
      parameters:
        - name: clientId
          in: query
          type: integer
          format: int64
          required: false
          description: user id from registration
        - name: deviceId
          in: formData
          type: string
          required: true
          description: Device id
        - name: question
          in: formData
          required: false
          type: string
          description: rating question
        - name: rating
          in: formData
          required: true
          type: number
          format: float
          description: float number from 0.0 to 5.0
        - name: feedback
          in: formData
          required: false
          type: string
          description: user feedback
        - name: hotel
          in: formData
          required: true
          type: string
          description: hotel code
        - name: lng
          in: formData
          required: false
          type: string
          description: language code
      responses:
        200:
          description: checkin response
          schema:
            $ref: '#/definitions/Status'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Status'
definitions:
  NewCheckin:
    required:
      - firstName
      - lastName
      - birthDate
    properties:
      firstName:
        type: string
      lastName:
        type: string
      birthDate:
        type: string
      nationality:
        type: string
      passport:
        type: string
        description: ID or Passport number
      address:
        type: string
      phone:
        type: string
        description: mobile phone number in international format
      email:
        type: string
        description: email address
  Stages:
    required:
      - stages
    properties:
      stages:
        type: array
        items:
          type: string
          enum: [ "anonymous", "not_booked", "booked", "checked_in"]
  Bookings:
    required:
      - bookings
    properties:
      bookings:
        type: array
        items:
          $ref: "#/definitions/Booking"
  Booking:
    required:
      - bookingId
      - hotel
      - startDate
      - endDate
    properties:
      bookingId:
        type: string
        description: Booking id
      startDate:
        type: integer
        format: int64
        description: unix timestamp
      endDate:
        type: integer
        format: int64
        description: unix timestamp
      hotel:
        type: string
        description: hotel code
  BulkData:
    type: "object"
    required:
      - data
      - deviceId
    properties:
      clientId:
        type: string
      deviceId:
        type: string
      data:
        type: array
        items:
          $ref: '#/definitions/NewData'
  NewData:
    required:
      - key
      - value
      - stage
      - deviceId
      - timestamp
    properties:
      key:
        type: string
      value:
        type: string
      stage:
        type: string
      clientId:
        type: string
      deviceId:
        type: string
      timestamp:
        type: integer
        format: int64
  Status:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  RegisterStatus:
    required:
      - clientId
      - code
      - message
    properties:
      clientId:
        type: integer
        description: user profile id
        format: int64
      code:
        type: integer
        description: |
          1 - registration OK, <br/>
          2 - invalid pin/number, <br/>
          3 - user profile not found
        format: int32
        enum: [1,2,3]
      message:
        type: string
  UserProfile:
    required:
      - clientId
      - properties
    properties:
      clientId:
        type: integer
        description: user id
        format: int32
      properties:
        type: array
        items: 
          $ref: '#/definitions/UserProfileProperty'
  UserProfileProperty:
    required:
      - name
      - value
    properties:
      name:
        type: string
        description: property name
      value:
        type: string
        description: property value